body {
    font-family: Arial, sans-serif;
background: cyan;
}

h1 {
    color: blue;
    text-align: center;
}

a { text-decoration: none;
}
.wordart1 {
    font-size: 15px;
    font-weight: bold;
    color: magenta;
    text-decoration-color: lightyellow ;
    text-align: left;
    text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 20px yellow;

    margin-top: 50px;
    margin-left: 50px;
}
.wordart2 {
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 200px;
    margin-top: 30px;

}

.wordart3 {

    font-size: 25px;
    font-weight: bold;
    color: white;
    background: blue;
    text-align: center;
    margin-top: 1px;


}
.wordart3A{

    font-size: 20px;
    font-weight: bold;
    color: blue;
    background: cyan;
    text-align: left;
    margin-top: 1px;
    margin-left: 100px;
}
.wordart4 {

    font-size: 25px;
    font-weight: bold;
    color: #1a73e8;
    background: cyan;
    text-align: center;

    text-shadow:
            1px 1px 0 #999,
            2px 2px 0 #777,
            3px 3px 0 #555;
}
.main-image{


    max-width: 25%;
    height: 25%;

    justify-content: center ;

    align-items: center ;

}
.main-image1{

    max-width: 25%;
    height: 25%;

    justify-content: center  ;
    align-items: center;


}
.main-image2{

    max-width: 25%;
    height: 25%;


    justify-content: center ;
    align-items: center ;



}
.menu {
    background-color: darkred;
    padding: 10px;
    text-align: left;
}

.menu a {
    color: lightyellow;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
html,body {
    height: 100%;
    margin:0;
}
.page{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    text-decoration-color: red;
    font-style: oblique;
    font-size: large;
    text-align: start ;

}
footer{
    margin-top: 500px;
    background: lightyellow;

    text-align: center;
    padding: 10px;
}
.site-header{
   position: sticky;
    top: 0;
    background-color: #004aad;
    color: white;
    padding: 10px 20px;
    z-index: 1000;


}
.header-container {
    display: flex;
    align-items: flex-left;
    gap: 15px;
}

.logo {
    width: 80px;
    height: auto;
}

.header-text {
    text-align: left;
}
