a {
    font-size: 20px;
    text-decoration: none;
}
.wordart1 {
    font-size: 15px;
    font-weight: bold;
    color: magenta;
    text-decoration-color: lightyellow ;
    text-align: left;
    text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 20px yellow;

    margin-top: 50px;
    margin-left: 50px;
}
.wordart2 {
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;
    margin-top: 30px;

}

.wordart3 {

    font-size: 42px;
    font-weight: bold;
    color: #1a73e8;
    background: cyan;
    text-align: center;

    text-shadow:
            1px 1px 0 #999,
            2px 2px 0 #777,
            3px 3px 0 #555;
}
.wordart4 {

    font-size: 25px;
    font-weight: bold;
    color: #1a73e8;
    background: cyan;
    margin-left: 50px;

    text-shadow:
            1px 1px 0 #999,
            2px 2px 0 #777,
            3px 3px 0 #555;
}
